img {
max-width: 100%;
}

@media screen and (max-width:600px){
    
header {
grid-template-columns: 100%;
    text-align: center;
    padding: 100px;
    }
    #nav a {
    display: block;
    text-align: center;
    padding: 30px;
    
    }

#splash {
font-size: 2rem;
line-height: 2.5rem;
height: 10.7rem;
    }
main {
    grid-template-columns: none;
   text-align: center;
    grid-template: none;

}


    
}
}
